.gallery
{
    background-color:#fdfdfd; /* set background color of gallery */
    border:1px solid #ccc; /* set desired border */
    position:relative;
    overflow:hidden;
}
.outerWrapper
{
    padding:11.5px 0; /* adjust distance from top here */
    margin:auto;
    overflow:hidden;
}
.outerWrapper img
{
    margin-right:20px; /* adjust for space between images */
    box-shadow:0 0 8px #000000; /* adjust box-shadow */
    border:3px solid #fff; /* adjust border (gives polaroid effect) */
    visibility:hidden;
    float:left;
}
.leftButton, .rightButton
{
    background-image:url('arrows.png'); /* you can set any image you want for this. keep in mind it's a sprite. */
    width:28px; /* You may need to change this if you change the background image */
    height:28px; /* You may need to change this if you change the background image */
    visibility:hidden;
    cursor:pointer;
    position:absolute;
}
.leftButton
{
    background-position:left;
    left:18px; /* adjust distance from edge for buttons */
}
.rightButton
{
    background-position:right;
}